@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600;700;800;900&display=swap');
@import './navbar.css';
@import './buttons.css';
@import './background.css';
@import './inputs.css';
@import './position.css';
@import './colors.css';
@import './avaliacoes.css';
@import './utils.css';
@import './card.css';
/* Config de cores */


:root {
    --bg-purple: #6f00ff;
    --bg-purple-hover: #ff008c;
    --bg-purple-black: #000;
    --bg-marron-1: #757575;
    --bg-marron-2: #f4f4f4;
    --bg-white: #fff;
    --bg-yellow: #fcb705;
    --bg-blue: #61b4ec;
}

html, body {
    font-size: 16px;
    font-size: 16px;
    font-family: 'Ruda', sans-serif;
    font-weight: 400;
    width: 100%;
    height: 100%;
}